// Base font
$base-font-scale: 1;  // The font scale multiplier (e.g. 2 = 32px/2em/2rem)
$base-font-pixel: 16; // Used for font size calculations & conversions
$base-font-colour: #4a4a4a;

// Selection highlighting
$content-selection-highlight: #b3d4fc;

// Default breakpoints
$tablet: 768px;
$desktop: 1024px;

// Colours
$black: #000000;
$black-two: #1a1a1a;
$black-three: #282828;
$white: #ffffff;
$slate-grey: #606066;
$dark-grey: #222125;
$cerulean: #026eca;
$dark-pink: #c9428b;
$jungle-green: #0c8537;
$mango: #fcab39;
$deep-red: #b50000;
$brown-grey: #7d7d7d;
$light-peach: #e1dcce;
$greyish-brown: #494949;
$black-four: #2c2c2c;
$very-light-pink: #d7d7d7;
$purplish-pink: #cf5f99;
$pale: #eae5d9;
$very-light-pink-two: #e4e4e4;
$beige: #d2ccbe;
$pale-lilac: #e4e4ea;
$deep-sea-blue: #004d8f;
$greyish-brown-two: #4e4e4e;
$off-white: #fbf9f4;
$black-five: #2b2b2b;
$off-white-two: #f5f1e7;
$brown-grey-two: #858585;
$very-light-pink-three: #c9c9c9;
$pale-two: #eeebe4;
$off-white-three: #f7f5f0;